$cor: #001f3f;
$cor_sass: #cd6799;
$cor_txt: #111;
$cor_pdf: #ff0000;
$cor_git: #6e5494;
$cor_in: #0077b5;
$cor_mail: #db3a1b;
$cor_medium: #00ab6c;
$cor_wpp: #25d366;
$cor_tel: #555;

@import 'compass',
        '_fonts.global';

a{
    line-height: 200%;
    -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}
/*Seletores*/
::-webkit-selection {
  background: #222;
  color: #EEE;
}

::-moz-selection {
  background: #222;
  color: #EEE;
}

::selection {
  background: #222;
  color: #EEE;
}

.title{
    color: #444;
    font-family: 'simplifica',sans-serif;
    text-align: center
}
//.body{}
//.box-content{display: none;}

/*Topo*/
.content-title{
    border-bottom: 1px solid #CCC;
    min-height: 15%;
    min-height: 15vh;
}
/*Idioma*/
.content-lang{
    margin-top: 15px;
    position: relative;
    text-transform: uppercase;
}
.idioma-link{
    cursor: pointer;
}
.idioma-link_br{
    &:hover,&:focus,&:active{
        background-color: #007600;
    }
}
.idioma-link_en{
    &:hover,&:focus,&:active{
        background-color: #C32126;
    }
}
.home-picture{
    background: #FFF url(../img/home-image.png) no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #CCC;
    display: block;
    height: 80px;
    margin: -40px auto auto;
    max-width: 100%;
    width: 80px;
    transition: all 0.5s linear;
    &:hover,&:focus,&:active{
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.conteudo{
    min-height: 75%;
    min-height: 75vh;
}
/*Texto*/
.content-bio p{
    font-family: 'Open sans', sans-serif;
    text-align: center;
}
.pdf_btn{
    background: #FFF;
    border-radius: 2px;
    border: 1px solid #222;
    color: #222;
    display: block;
    font-family: 'Open sans', sans-serif;
    margin: 10px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    &:hover,&:focus,&:active{
        background: $cor_pdf;
        border-color: #EEE;
        color: #EEE;
        text-decoration: none;
    }
}
/*rodape com contato*/
.content-social{
    bottom: 0;
    min-height: 10%;
    min-height: 10vh;
    padding: 0;
    position: fixed;
    text-align: center;
    z-index: 2;
}
/*links no footer*/
.menu-contato{
    background: #FEFEFE;
    border: 1px solid #DDD;
    color: #222;
    display: block;
    min-height: 10vh;
    &:hover,&:focus,&:active{
        color: #EEE;
        text-decoration: none;
    }
}
.contato-desc{display: block;}
.menu-git{
    &:hover,&:focus,&:active{background: $cor_git;}
}
.menu-in{
    &:hover,&:focus,&:active{background: $cor_in;}
}
.menu-mail{
    &:hover,&:focus,&:active{background: $cor_mail;}
}
.menu-medium{
    &:hover,&:focus,&:active{background: $cor_medium;}
}
.menu-tel{
    &:hover,&:focus,&:active{background: $cor_tel;}
}
.menu-wpp{
    &:hover,&:focus,&:active{background: $cor_wpp;}
}
/*Modo noturno*/
.body_dark{
    background: #444;
}
.menu-contato_dark{
    background: #555;
    border: 1px solid #DDD;
}
.btn_dark{
    background: #222;
    border: 1px solid #EEE;
    color: #EEE;
}