@font-face{
    font-family:'simplifica';
    src:url("../fonts/simplifica.eot?#iefix") format("embedded-opentype"),url("../fonts/simplifica.woff") format("woff"),url("../fonts/simplifica.ttf") format("truetype"),url("../fonts/simplifica.svg") format("svg");
    font-style:normal;
    font-weight:normal
}
a{
    line-height:200%;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear
}
::-webkit-selection{background:#222;color:#EEE}
::-moz-selection{background:#222;color:#EEE}
::selection{background:#222;color:#EEE}
.title{
    font-family:'simplifica',sans-serif;
    margin-top: 25px;
    text-align:center;
}
.content-title{
    border-bottom:1px solid #CCC;
    min-height:15%;
    min-height: calc(15vh - 35px);
}
.content-lang{margin-top:15px;position:relative;text-transform:uppercase}
.idioma-link{cursor:pointer}
.idioma-link_br:hover,.idioma-link_br:focus,.idioma-link_br:active{background-color:#007600}
.idioma-link_en:hover,.idioma-link_en:focus,.idioma-link_en:active{background-color:#C32126}
.home-picture{
    background:#FFF url(../img/home-image.png) no-repeat;
    background-size:cover;
    border-radius:50%;border:1px solid #CCC;
    display:block;
    height:80px;
    margin:-40px auto auto;
    max-width:100%;
    width:80px;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear
}
.home-picture:hover,.home-picture:focus,.home-picture:active{
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05)
}
.conteudo{
    min-height:75%;
    min-height:75vh
}
.conteudo-box{
    border: 1px solid #EDEDED;
    border-radius: 5px;
    margin-bottom: 15px;
    min-height: calc(37.5vh - 45px);
    display:flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.content-bio p{
    font-family:'Open sans', sans-serif;
    text-align:center
}
.pdf_btn{
    background:#FFF;
    border-radius:2px;
    border:1px solid #222;
    color:#222;
    display:block;
    font-family:'Open sans', sans-serif;
    margin:10px auto;
    padding-bottom:5px;
    padding-top:5px;
    text-align:center;
    text-transform:uppercase;
    width:180px;
}
.pdf_btn:hover,.pdf_btn:focus,.pdf_btn:active{
    background:red;
    border-color:#EEE;color:#EEE;
    text-decoration:none
}
.content-social{
    bottom:0;min-height:10%;
    min-height:10vh;
    position:fixed;
    text-align:center;
    z-index:2;
}
.menu-contato{
    background:#FEFEFE;
    border:1px solid #DDD;
    color:#222;
    display:flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height:10vh;
}
.menu-contato:hover,.menu-contato:focus,.menu-contato:active{
    color:#EEE;text-decoration:none
}
.contato-desc{
    display:block;
    font-family:'Open sans', sans-serif;
    font-size:12px;
}
.menu-git:hover,.menu-git:focus,.menu-git:active{background:#6e5494}
.menu-in:hover,.menu-in:focus,.menu-in:active{background:#0077b5}
.menu-mail:hover,.menu-mail:focus,.menu-mail:active{background:#db3a1b}
.menu-medium:hover,.menu-medium:focus,.menu-medium:active{background:#00ab6c}
.menu-tel:hover,.menu-tel:focus,.menu-tel:active{background:#555}
.menu-wpp:hover,.menu-wpp:focus,.menu-wpp:active{background:#25d366}
@media (min-width: 768px){
    .contato-desc{font-size:14px}
}
@media (min-width: 1600px){
    .menu-contato{padding-top:15px}
}
.body_dark{background:#444}
.body_dark .title{color:#FFF}
.body_dark p{color:#FEFEFE}
.menu-contato_dark{background:#222;border:1px solid #DDD}
.menu-contato_dark.menu-git{color:#6e5494}
.menu-contato_dark.menu-git:hover,.menu-contato_dark.menu-git:focus,.menu-contato_dark.menu-git:active{color:#FEFEFE}
.menu-contato_dark.menu-in{color:#0077b5}
.menu-contato_dark.menu-mail{color:#db3a1b}
.menu-contato_dark.menu-mail:hover,.menu-contato_dark.menu-mail:focus,.menu-contato_dark.menu-mail:active{color:#FEFEFE}
.menu-contato_dark.menu-medium{color:#00ab6c}
.menu-contato_dark.menu-medium:hover,.menu-contato_dark.menu-medium:focus,.menu-contato_dark.menu-medium:active{color:#FEFEFE}
.menu-contato_dark.menu-tel{color:#555}
.menu-contato_dark.menu-tel:hover,.menu-contato_dark.menu-tel:focus,.menu-contato_dark.menu-tel:active{color:#FEFEFE}
.menu-contato_dark.menu-wpp{color:#25d366}
.menu-contato_dark.menu-wpp:hover,.menu-contato_dark.menu-wpp:focus,.menu-contato_dark.menu-wpp:active{color:#FEFEFE}
.btn_dark{background:#222;border:1px solid #EEE;color:#EEE}

.hover-blue,
.hover-red,
.hover-orange,
.hover-green{
    background: #FEFEFE;
    transition:all 0.5s linear;
}
.hover-red:hover,.hover-red:focus,.hover-red:active{
    color: #FF4136;
    border-color: #FF4136;
}
.hover-blue:hover,.hover-blue:focus,.hover-blue:active{
    color:#001f3f;
    border-color:#001f3f;
}
.hover-orange:hover,.hover-orange:focus,.hover-orange:active{
    color: #FF851B;
    border-color: #FF851B;
}
.hover-green:hover,.hover-green:focus,.hover-green:active{
    color:#01FF70;
    border-color:#01FF70;
}